<%= form_for @user, :html => { multipart: true } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.file_field :profile %>
  </p>
  <p><%= f.submit %></p>
<% end %>
